<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787797557896-del0kegq32rj4brd1f185ujvass88f75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787797557896-del0kegq32rj4brd1f185ujvass88f75</string>
	<key>API_KEY</key>
	<string>AIzaSyCo9ViacUPl9uBK68rG3HNhMzM1TOQsIdo</string>
	<key>GCM_SENDER_ID</key>
	<string>787797557896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.brudget</string>
	<key>PROJECT_ID</key>
	<string>budget-814d6</string>
	<key>STORAGE_BUCKET</key>
	<string>budget-814d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787797557896:ios:87f915b9e346f3540a953d</string>
	<key>DATABASE_URL</key>
	<string>https://budget-814d6-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>